<div class="modal_wrapper_age"></div>
<div class="modal">
	<div class="modal_title">Mayor&iacute;a de Edad</div>
	<div class="modal_text">Confirmo que soy mayor de edad (+18 a&ntilde;os)</div>
	<div class="modal_bt_age" id="accept_age">Confirmar</div>
	<div class="modal_bt_age" id="rechazar_age">Rechazar</div>
</div>