<div class="modal_wrapper"></div>
<div id="avisoLegal" class="modal_legal">
	<div class="modal_title">Aviso Legal</div>
	<div class="modal_legal_box">
	    <div class="modal_legal_text" id="modal_legal_text"><%= QueryString.getAvisoLegal() %></div>
	</div>
	<div class="modal_legal_bts">
	    <div class="modal_legal_bt" id="accept_avisolegal">Aceptar</div>
	    <div class="modal_legal_bt" id="rechazar_avisolegal">Rechazar</div>
	    <div class="modal_legal_bt" id="up_avisolegal">Subir</div>
	    <div class="modal_legal_bt" id="down_avisolegal">Bajar</div>
	</div>
</div>