<div id="log_reg" class="log_reg"></div>

<div class="banner"></div>
<div class="carousel">
	<div class="left_zone">
		<a href="#" class="left_arrow" id="prev_page"></a>
	</div>
	<div class="thumbs">
		<ul id="items"></ul>
	</div>
	<div class="right_zone">
		<a href="#" class="right_arrow" id="next_page"></a>
	</div>
</div>