<form>
	<label>Email</label>
	<input type="text" id="userLogin" value="">
	<label>Password</label>
	<input type="password" id="userPassword" value="">
	<div class="login_button" id="loginAction">Entrar</div>
</form>
<div id="remember" class="remember">Recuperar contrase&ntilde;a</div>