<div id="register_wrapper" class="register_wrapper">
	<div class="register_title">
		<div class="reg_title">Modificar perfil</div>
		<div class="reg_subtitle">Modifica la informaci&oacute;n de tu perfil</div>
	</div>

	<div class="register_left">
	<form>
		<div class="field">
			<label>Nombre:</label>
			<input type="text" id="registerName" value="">
		</div>
		<div class="field">
			<label>Apellidos:</label>
			<input type="text" id="registerLastname" value="">
		</div>		
		
	</div>
	<div class="register_right">
		<div class="field">
			<label>Pa&iacute;s:</label>
			<input type="text" id="registerCountry" value="">
		</div>
		<div class="field">
			<label>C&oacute;digo Postal:</label>
		       <input type="text" id="registerCP" value="">
		</div>		
	</div>
	<div class="outer">
		<div class="send_modify" id="modifyAction">Modificar</div> 
	</div>
	</form>
</div>      