<div id="register_wrapper" class="register_wrapper">
	<div class="register_title">
		<div class="reg_title">Modificar perfil</div>
		<div class="reg_subtitle">Modifica la informaci&oacute;n de tu perfil</div>
	</div>

	<div class="tx_title">Los cambios se han realizado correctamente.</div>
	
	<div class="outer">
		<div class="send_modify_access" id="modify_accessAction">Entrar</div> 
	</div>
</div>           