<div id="register_wrapper" class="register_wrapper">
	<div class="register_title">
		<div class="reg_title">Reg&iacute;strate</div>
		<div class="reg_subtitle">Suscr&iacute;bete ahora y disfruta de los mejores contenidos por menos de 3&euro; al mes</div>
	</div>

	<div class="tx_title">El registro ha finalizado correctamente.</div>
	<div class="tx_text">Gracias por tu registro. Activa tu suscripci&oacute;n yendo a http://<%= QueryString.getChannelName() %>.tv usando tu login.</div> <!-- Ya puedes disfrutar del contenido del canal En Copa. Inicia sesi&oacute;n pulsando el bot&oacute;n Entrar y empieza a disfrutar del contenido. -->

	<div class="outer">
		<div class="send_access" id="accessAction">Entrar</div> 
	</div>
</div>           