<div id="register_wrapper" class="register_wrapper">
	<div class="register_title">
		<div class="reg_title">Recuperar password</div>
		<div class="reg_subtitle">Introduce tu email y recibir&aacute;s un correo con tu nuevo password</div>
	</div>

	<form style="margin-top:40px;">
		<div class="field">
			<label>Email:</label>
			<input type="text" id="recuperarPassword" value="">
		</div>
	</form>

	<div class="outer_recuperar">
		<div class="send_remember" id="rememberAction">Recuperar</div> 
	</div>
</div>           